  <h1><%= "#{@brand.name.capitalize}" %></h1>
  <% unless @cars.nil? %>
  <div class="list-group">
    <% @cars.each do |car| %>
      <%= link_to "#{car.type.name} - #{car.assembly_year.to_s} Rp #{car.price.to_s}", car_path(car), class: "list-group-item list-group-item-info" %>
    <% end %>
  </div>
  <% end %>
